
# Created by https://www.toptal.com/developers/gitignore/api/assembler
# Edit at https://www.toptal.com/developers/gitignore?templates=assembler

### Assembler ###
*.o
*.obj

### NES ###
*.nes.ram.nl
*.nes
*.dbg
*.deb
*.cdl